In [1]:
import pandas as pd

# note: more imports may be necessary depending on your code

In [2]:
!unzip -o ./hw_data/hw0_dataset_1M.csv.zip -d data/

Archive:  ./hw_data/hw0_dataset_1M.csv.zip
  inflating: data/hw0_dataset_1M.csv

In [3]:
# load the data set
df = pd.read_csv( "./data/hw0_dataset_1M.csv", names = [i for i in range(0,30)])

/tmp/ipykernel_2335051/1750486504.py:2: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv( "./data/hw0_dataset_1M.csv", names = [i for i in range(0,30)])

## TASK :

In [11]:
df.iloc[:,[2,9]].dropna()

                      2                                                  9
0       doi-asserted-by                                      journal-title
20            publisher                          Environ. Health Perspect.
21             crossref                                    Atmos. Environ.
22             crossref                                            Science
23             crossref                                       Clim. Change
...                 ...                                                ...
992245         crossref  Quarterly Journal of the Royal Meteorological ...
992246         crossref                       Geophysical Research Letters
992247         crossref                    Journal of Geophysical Research
992248         crossref                    Journal of Geophysical Research
992249         crossref                     Journal of Atmospheric Science

[266606 rows x 2 columns]